<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.speleize.civilizationvi_scrollkit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CivilizationsActivity"
            android:label="@string/civilizationsTitle"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme" />
        <activity
            android:name=".BuildingsActivity"
            android:label="@string/buildingsTitle"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme" />
        <activity
            android:name=".UnitsActivity"
            android:label="@string/unitsTitle"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme" />

        <activity
            android:name=".WondersActivity"
            android:label="Merveilles"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme"/>
        <activity
            android:name=".LeadersActivity"
            android:label="Dirigeants"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme"/>
        <activity
            android:name=".RessourcesActivity"
            android:label="Ressources"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme"></activity>
    </application>

</manifest>